body {
  background-color: #f4f7f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.jumbotron {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 72, 0, 0.767);
  border-radius: 0.3rem;
}

.footer {
  padding: 2rem;
  margin-top: 2rem;
  background-color: rgba(255, 72, 0, 0.767);
  border-radius: 0.3rem;
}

.jumbotron h1 {
  font-size: 3rem;
  font-weight: 500;
  color: rgba(255, 255, 255);
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: rgba(255, 255, 255);
}

.footer span {
  font-size: 1.2rem;
  font-weight: 300;
}